body {
  background-color: purple;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  height: 60%;
  max-height: 80%;
  overflow-y: auto;
}

.lightbulb {
  font-size: 20px;
  color: #f1c40f;
  margin: 5px;
}

.off {
  color: #aaa;
}

.card {
  padding: 10px;
  margin: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card p {
  margin: 0;
}
